* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 37, 25);
  color: rgba(255, 255, 255, 0.664);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: rgba(255, 255, 255, 0.664);
  color: rgb(1, 37, 25);
  padding: 2rem 0;
  width: 100%;
}

h2 {
  margin-top: 2rem;
  padding: 1rem 0;
  width: 90%;
}

input {
  background-color: rgb(243, 237, 152);
  border: none;
  border-radius: 1rem;
  color: rgb(95, 95, 95);
  font-size: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  width: 80%;
}

.btn-group {
  width: 80%;
}

.btn-group button {
  border: none;
  border-radius: 0.5rem;
  color: rgb(1, 37, 25);
  padding: 0.75rem;
  width: 30%;
  text-transform: uppercase;
}

.btn-group button:hover {
  font-size: 1rem;
}

#criar-tarefa {
  background-color: rgb(157, 207, 147);
}

#apaga-tudo {
  background-color: rgb(243, 144, 144);
}

#remover-finalizados {
  background-color: rgb(255, 163, 110);
}

ol {
  background-color: rgb(227, 201, 248);
  color: rgb(1, 37, 25);
  margin: 2rem 0;
  width: 70%;
  
}

li {
  border-bottom: 1px solid  rgb(1, 37, 25);
  list-style: none;
  padding: 1rem;
}

li:hover {
  background-color: rgb(153, 107, 172);
  font-weight: bold;
}

.selected {
	background-color: rgb(128, 128, 128);
}

.completed {
  text-decoration: line-through solid black;
}
